<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Kherld</title>
    <link rel="stylesheet" href="../static/css/about.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/icons/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>About Khalid Hussein</h1>
      </header>
      <div class="about-content">
        <div class="about-text">
          <h2>Software Developer</h2>
          <p>
            I am a Software Engineer with over 2 years of experience, dedicated
            to coding powerful and scalable applications using Rust, Go, and
            Dart (Flutter). I possess a strong passion for engineering elegant,
            innovative, and user-centric solutions that not only meet but exceed
            expectations.
          </p>
          <p>
            My experience in database administration and website design
            complements my core development skills, allowing me to contribute to
            all aspects of the software development lifecycle. I'm committed to
            driving positive change within the tech industry through my
            dedication to continuous learning, collaborative problem-solving,
            and the delivery of high-quality software solutions.
          </p>
          <p>
            When I'm not coding, you can find me exploring the latest tech
            trends, contributing to open-source projects, or mentoring aspiring
            devs. I believe in the power of technology to change lives and am
            committed to creating software that makes a positive impact on the
            world.
          </p>
          <div class="skills">
            <span class="skill-tag">Rust</span>
            <span class="skill-tag">Go</span>
            <span class="skill-tag">Dart</span>
            <span class="skill-tag">JavaScript</span>
            <span class="skill-tag">React</span>
            <span class="skill-tag">Node.js</span>
            <span class="skill-tag">Docker</span>
            <span class="skill-tag">Kubernetes</span>
            <span class="skill-tag">Machine Learning</span>
            <span class="skill-tag">Blockchain</span>
          </div>
          <div class="experience">
            <h3>Professional Experience</h3>
            <div class="company">
              <h4>Full-Stack Software Engineer at Zone01 Kisumu.</h4>
              <p>2024 - Present</p>
              <p>
                Leading development of cutting-edge AI-powered solutions,
                focusing on scalability and performance optimization.
              </p>
            </div>
            <!-- <div class="company">
              <h4>Full Stack Developer at InnovateSoft</h4>
              <p>2018 - 2021</p>
              <p>
                Developed and maintained large-scale web applications using
                React, Node.js, and GraphQL.
              </p>
            </div>
            <div class="company">
              <h4>Software Engineer at StartupX</h4>
              <p>2015 - 2018</p>
              <p>
                Worked on mobile app development using Flutter and contributed
                to backend services in Go.
              </p>
            </div> -->
          </div>
        </div>
        <div class="about-image">
          <div class="profile-img-container">
            <img
              src="../static/img/k_nerd.png"
              alt="Kherld Hussein profile picture"
              class="profile-img"
              width="400"
              height="500"
            />
          </div>
          <i class="fab fa-rust tech-icon" style="top: 10%; left: 10%"></i>
          <i class="fab fa-golang tech-icon" style="top: 20%; right: 10%"></i>
          <i class="fab fa-react tech-icon" style="bottom: 15%; left: 15%"></i>
          <i
            class="fab fa-node-js tech-icon"
            style="bottom: 25%; right: 15%"
          ></i>
        </div>
      </div>
      <div class="quote">
        "The only way to do great work is to love what you do." - Steve Jobs
      </div>
      <div class="button-container">
        <a href="/" class="button button-primary">Back to Home</a>
        <a href="/contact" class="button button-secondary"
          >Contact Me</a
        >
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="../static/js/about.js"></script>
  </body>
</html>
